@import "@/scss/vars";
$default-circle-color: hsl(0, 0%, 40%);

.iconPassBox {
  display: flex;
  margin-right: 6px;
  cursor: pointer;
  // position: absolute;
  // margin: 10px 0 0 0;
}
.iconPassSec {
  box-sizing: initial;
  margin-right: 6px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 3px solid $default-circle-color;
  transform: rotateZ(45deg);
  &.s1 {
    border-top-color: hsl(348, 83%, 47%);
  }
  &.s2 {
    border-top-color: hsl(16, 100%, 50%);
    border-right-color: hsl(16, 100%, 50%);
  }
  &.s3 {
    border-color: hsl(57, 100%, 45%);
    border-left-color: $default-circle-color;
  }
  &.s4 {
    border-color: hsl(120, 100%, 30%);
  }
}
.iconPass {
  font-size: 17px;
  color: $primary-color;
}
.dark-theme {
  .iconPass {
    color: hsl(204, 100%, 51%);
  }
  .iconPassSec {
    &.s3 {
      border-color: hsl(60, 100%, 50%);
      border-left-color: $default-circle-color;
    }
    &.s4 {
      border-color: hsl(120, 100%, 25%);
    }
  }
}
