@layer components {
  .container {
    // Base
    @apply mx-auto px-2;
    // xs 425px
    @apply xs:w-full;
    // sm 640px
    @apply sm:px-4;
    // md	768px
    @apply md:px-5;
    // lg	1024px
    @apply lg:px-14 lg:max-w-4.5xl;
    // xl	1280px
    @apply xl:max-w-6xl;
    // 2xl 1536px
    @apply 2xl:max-w-8xl;
  }
  .dot-before {
    &::before {
      @apply mx-1 text-xs font-normal;
      content: "\2022";
    }
  }
  .link {
    @apply text-rose-800 dark:text-rose-500;
    @apply hover:text-rose-900 dark:hover:text-rose-600;
    @apply cursor-pointer;
  }
  .scrollbar {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      @apply bg-warm-gray-300 dark:bg-warm-gray-900;
    }
    &::-webkit-scrollbar-thumb {
      @apply border-solid rounded-3xl border-warm-gray-300 bg-warm-gray-600 hover:bg-warm-gray-700 opacity-25;
      @apply dark:bg-warm-gray-400 dark:border-warm-gray-900 dark:hover:bg-warm-gray-300;
      border-width: 3px;
    }
  }
}
