@media (max-width: 425px) {
  .container {
    width: 100%;
    padding: 5px;
    max-width: 550px;
    box-sizing: border-box;
  }
  .container__sidebar {
    display: none;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  /* For tablets: */
  .container {
    width: 98%;
    padding: 5px;
    max-width: 675px;
  }
  .container__feed {
    width: 100%;
  }
  .container__sidebar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 934px) {
  .container {
    width: 95%;
    max-width: 875px;
  }
  .container__feed {
    width: 100%;
  }
  .container__sidebar {
    display: none;
  }
}
@media (min-width: 935px) and (max-width: 1360px) {
  .container {
    width: 90%;
    min-width: 875px;
    max-width: 1100px;
  }
  .container__feed {
    width: calc(100% - 325px);
  }
  .container__sidebar {
    margin-left: 25px;
  }
}

@media (min-width: 1360px) {
  .container {
    width: 1225px;
  }
  .container__feed {
    width: calc(100% - 325px);
  }
  .container__sidebar {
    margin-left: 25px;
  }
}

@media (min-width: 1904px) {
  .container {
    width: 1540px;
  }
  .container__feed {
    width: calc(100% - 330px);
  }
  .container__sidebar {
    margin-left: 30px;
  }
}

.container__sidebar {
  width: 300px;
}

.container {
  margin: 0 auto;
  justify-content: center;
}

.container--flex {
  display: flex;
}

.container--top {
  justify-content: left;
}
