@import "vars";

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-color;
  padding: 10px 20px;
  height: $footer-height;
  > div {
    display: flex;
  }
  &,
  a {
    font-size: 15px;
    color: #fff;
  }
  a {
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
  .dash {
    &::before {
      content: "-";
      margin: 0 4px;
    }
  }
  .copyright {
    font-weight: 500;
    font-size: 16px;
  }
}
