@import "vars";

#nav {
  background-color: $primary-color;
  box-shadow: 0px 0px 16px 0px hsla(0, 0%, 0%, 0.36);
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  z-index: 5;
  ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    position: relative;
    li {
      display: inline;
      padding: 0;
      a {
        padding: 0 10px;
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        //font-weight: 500;
        letter-spacing: 0.02em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
      }
    }
  }
  .fa-adjust {
    font-size: 16px;
    padding: 12px;
  }
  .active {
    background-color: hsl(204, 85%, 27%);
  }
}
