$box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.5);
$primary-color: hsl(358, 65%, 10%);
$primary-hover-color: mix($primary-color, #000, 85%);
$secondary-color: hsl(341, 74%, 29%);
$secondary-hover-color: mix($secondary-color, #000, 85%);
$tertiary-color: hsl(10, 40%, 45%);

$link-color: hsl(360, 100%, 35%);
$link-hover-color: mix($link-color, black, 80%);

$dark-primary: hsl(340, 5%, 8%);
$dark-primary-1: mix($dark-primary, white, 95%);
$dark-primary-2: mix($dark-primary, white, 93%);
$dark-primary-3: mix($dark-primary, white, 92%);
$dark-primary-4: mix($dark-primary, white, 91%);
$dark-primary-6: mix($dark-primary, white, 89%);
$dark-primary-8: mix($dark-primary, white, 88%);
$dark-primary-12: mix($dark-primary, white, 86%);
$dark-primary-16: mix($dark-primary, white, 85%);
$dark-primary-26: mix($dark-primary, white, 84%);

$light-title-color: hsl(0, 0%, 13%);
$dark-title-color: hsl(0, 0%, 90%);

$dark-link-color: hsl(200, 100%, 50%);
$dark-link-hover-color: mix($dark-link-color, black, 85%);

$nav-height: 45px;
