$box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.5);
$primary-color: hsl(358, 65%, 10%);
$primary-hover-color: mix($primary-color, #000, 85%);
$secondary-color: hsl(341, 74%, 29%);
$secondary-hover-color: mix($secondary-color, black, 85%);
$tertiary-color: hsl(10, 40%, 45%);
$footer-color: hsl(332, 35%, 16%);

$nav-height: 42px;
$footer-height: 45px;

* {
  --nav-height: #{$nav-height};
  --footer-height: #{$footer-height};
}
