@import "vars";

@layer base {
  html {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    letter-spacing: 0.25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply text-gray-900 dark:text-gray-50 bg-gray-100 dark:bg-gray-900;
  }
  #nav {
    @apply bg-primary-600 text-gray-50 shadow;
    @apply flex z-50 justify-between m-0 p-0 fixed top-0 w-full;
    height: var(--nav-height);
    line-height: var(--nav-height);
    > div {
      @apply flex;
    }
    a {
      @apply text-lg font-sans text-white;
      @apply truncate p-2 no-underline tracking-wide relative;
    }
    .fa-adjust-wrapper {
      @apply flex justify-start items-center px-1;
      .fa-adjust {
        @apply text-base p-2 rounded-3xl cursor-pointer;
      }
    }
    .active {
      background-color: hsl(204, 85%, 27%);
    }
  }
  #bodyContent {
    margin-top: var(--nav-height);
    min-height: calc(100vh - var(--nav-height));
  }
  #footer {
    @apply flex justify-between items-center py-3 px-5;
    @apply bg-footer text-white;
    height: var(--footer-height);
    > div {
      @apply flex items-center;
    }
    &,
    a {
      @apply text-sm text-white;
    }
    a {
      @apply font-semibold no-underline cursor-pointer;
    }
    .dash {
      &::before {
        @apply mx-1;
        content: "-";
      }
    }
    .copyright {
      @apply font-medium text-base self-center;
    }
  }
}

@layer components {
  .container {
    // Base
    @apply mx-auto justify-center px-2;
    // xs 425px
    @apply xs:w-full;
    // sm 640px
    @apply sm:px-4;
    // md	768px
    @apply md:px-5;
    // lg	1024px
    @apply lg:px-14 lg:max-w-4.5xl;
    // xl	1280px
    @apply xl:max-w-6xl;
    // 2xl 1536px
    @apply 2xl:max-w-8xl;
  }
}
