.secondary {
  color: theme("colors.white");
  background-color: theme("colors.secondary.700");
  &:hover {
    background-color: theme("colors.secondary.800");
  }
}

@mixin secondary-border {
  border-width: theme("borderWidth.DEFAULT");
  border-color: theme("colors.secondary.700");
  color: theme("colors.secondary.700");
  :global(.dark) & {
    border-color: theme("colors.secondary.600");
    color: theme("colors.rose.500");
  }
}

.secondaryBorder {
  @include secondary-border();
  &:hover {
    border-color: theme("colors.secondary.900");
    color: theme("colors.secondary.900");
    :global(.dark) & {
      border-color: theme("colors.secondary.700");
      color: theme("colors.rose.600");
    }
  }
}

.secondaryBorderInvert {
  @include secondary-border();
  &:hover {
    background-color: theme("colors.secondary.700");
    &,
    :global(.dark) & {
      border-color: theme("colors.secondary.700");
      color: theme("colors.white");
    }
  }
}
