services:
  allocamelus:
    image: allocamelus:latest
    volumes:
      - "./data/allocamelus/config.json:/etc/allocamelus/config.json:ro"
      - "./data/allocamelus/log:/var/log/allocamelus"
      - "./data/allocamelus/media:/usr/share/allocamelus/media"
    restart: always
    ports:
      - 8080:80
    depends_on:
      - db
      - redis
    environment:
      CONFIG_PATH: "/etc/allocamelus/config.json"
  db:
    image: postgres:alpine
    env_file:
      - .env
    volumes:
      - "./data/postgres:/var/lib/postgresql/18/docker:delegated"
      - "./allocamelus.sql:/docker-entrypoint-initdb.d/allocamelus.sql:ro"
    expose:
      - 5432
    restart: always
    environment:
      POSTGRES_USER: "allocamelus"
      POSTGRES_DB: "allocamelus"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
  adminer:
    image: adminer
    restart: always
    #ports:
    #  - '8085:8080'
  redis:
    image: "redis:alpine"
    command:
      - redis-server
      - /usr/local/etc/redis/redis.conf
      - "--appendonly"
      - "yes"
    volumes:
      - "./data/redis:/data:delegated"
    #ports:
    #  - "6379:6379"
    restart: always
